noderedlab4.txt
[{"id":"2284b767.e1c758","type":"inject","z":"3f6f47eb.ad84f8","name":"","topic":"","payload":"{\"temp_sim\":\"30\",\"pos_sim\":\"10\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":180,"wires":[["514ef1f3.ce8c3"]]},{"id":"514ef1f3.ce8c3","type":"function","z":"3f6f47eb.ad84f8","name":"delta-var","func":"msg.payload.delta = Math.round(Math.random()*5);\nmsg.payload.sign = 1;\nif (Math.round(Math.random()) > 0.5){\n    msg.payload.sign = -1;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["ae50f5bb.82e518","78806c19.9e5484"]]},{"id":"ae50f5bb.82e518","type":"function","z":"3f6f47eb.ad84f8","name":"Payload-device","func":"//codes des capteurs\nmsg.dev1 = '00000000E5D91F60' ;\nmsg.dev2 = '00000000130D42BB' ;\n//indiquer codes au niveau du payload selon le signe (SIMULATION ICI)\nif (msg.payload.sign == 1){\n    msg.payload.device = msg.dev1;//temp\n    //simuler changement de temperature\nmsg.payload.temp = parseInt(msg.payload.temp_sim)+ \nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}else{\n    msg.payload.device = msg.dev2;//position\n    //simuler changement de position\nmsg.payload.pos  = parseInt(msg.payload.pos_sim) +\nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}\nreturn {\n    payload: msg.payload\n}\n","outputs":1,"noerr":0,"x":370,"y":440,"wires":[["9258adcc.81928"]]},{"id":"4e4974a.c65058c","type":"function","z":"3f6f47eb.ad84f8","name":"Creation Request 1","func":"return {\n    playload: {\n        device: msg.payload.device,\n        temp:msg.payload.temp,\n        pos: msg.playload.pos\n    }\n}\n","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["52f55546.50d3fc"]]},{"id":"5cd586c6.b67fe8","type":"function","z":"3f6f47eb.ad84f8","name":"Creation Request 2","func":"return {\n    playload: {\n        device: msg.payload.device,\n        temp:msg.payload.temp,\n        pos: msg.playload.pos\n    }\n}","outputs":1,"noerr":0,"x":500,"y":280,"wires":[["89557390.4bde5"]]},{"id":"98cca701.24efd8","type":"debug","z":"3f6f47eb.ad84f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":200,"wires":[]},{"id":"b16e384.d8a4dc8","type":"debug","z":"3f6f47eb.ad84f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":300,"wires":[]},{"id":"9258adcc.81928","type":"debug","z":"3f6f47eb.ad84f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":520,"wires":[]},{"id":"78806c19.9e5484","type":"switch","z":"3f6f47eb.ad84f8","name":"Split Topic","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"00000000E5D91F60","vt":"str"},{"t":"eq","v":"00000000130D42BB","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":200,"wires":[["4e4974a.c65058c"],["5cd586c6.b67fe8"]]},{"id":"52f55546.50d3fc","type":"http request","z":"3f6f47eb.ad84f8","name":"sensor-temp1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/info34-bdeb-sensor-temp1","tls":"","x":710,"y":180,"wires":[["98cca701.24efd8"]]},{"id":"89557390.4bde5","type":"http request","z":"3f6f47eb.ad84f8","name":"sensor-pos1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/info34-bdeb-sensor-pos1","tls":"","x":700,"y":260,"wires":[["b16e384.d8a4dc8"]]}]